*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    /* height: ; */
    background-color: rgb(216, 247, 216);
    color: black;
}
header nav{
    background-color:rgb(2, 16, 2) ;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header nav h1{
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    font-weight: 800;
    color: rgb(113, 243, 113);
}

header nav form{
    display: flex;
    justify-content: center;
}

form .search-input{
    flex-grow: 1;
    margin-right: 10px;
}

form .search-input, button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
}

form button{
    color: black;
    background-color: rgb(113, 243, 113);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button:hover{
    color: black;
    background-color: rgb(84, 223, 84);
    cursor: pointer;
}

/* main */
.recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    place-items: center;
}
.recipe{
background-color: rgb(2, 16, 2);
color: white;
display: flex;
flex-direction: column;
border-radius: 6px;
cursor: pointer;
/* padding: 8px; */
max-width: 350px;
}

.recipe img{
    height: 300px;
    /* border-radius: 6px; */
}

.recipe h3{
    font-size: 24px;
}

.recipe p{
    font-size: 20px;
    color: white;
    margin: 5px 0;
}

@media screen and (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
}